# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# -------------------------
# Virtual Environment
# -------------------------
venv/
ENV/
env/
.venv/

# -------------------------
# Django / Project Files
# -------------------------
*/__pycache__/
*.sqlite3
db.sqlite3-journal

# Ignore .env or secret settings
.env
*.env
*/local_settings.py

# -------------------------
# Media Files
# -------------------------

# Ignore everything in media/
media/*

# --- KEEP THESE ---
# Keep movies folder (empty)
!media/movies/

# Keep profile_pictures folder
!media/profile_pictures/

# Keep default profile icon
!media/profile_pictures/default_icon.png

# --- IGNORE USER UPLOADS ---
media/movies/*          # posters, videos
media/profile_pictures/users/*   # user profile pictures

# -------------------------
# HLS output
# -------------------------
*.ts
*.m3u8

# -------------------------
# Node / Frontend (If exists)
# -------------------------
node_modules/
npm-debug.log
yarn-error.log

# -------------------------
# Editor / IDE Files
# -------------------------
.vscode/
.idea/
*.iml

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Celery (if used)
# -------------------------
celerybeat-schedule
celerybeat.pid

# -------------------------
# Backup / Temp
# -------------------------
*.bak
*.swp
*.tmp
