# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# -------------------------
# Virtual Environment
# -------------------------
venv/
ENV/
env/
.venv/

# -------------------------
# Django / Project Files
# -------------------------
*/__pycache__/
*.sqlite3
db.sqlite3-journal
.env
*.env
*/local_settings.py

# -------------------------
# MEDIA (Ignore everything)
# -------------------------
media/*

# --- KEEP ONLY EMPTY FOLDERS ---
!media/movies/
!media/profile_pictures/

# --- KEEP DEFAULT ICON ONLY ---
!media/profile_pictures/default_icon.png

# --- IGNORE USER UPLOADS ---
media/movies/*
media/profile_pictures/users/*

# -------------------------
# HLS output
# -------------------------
*.ts
*.vtt
*.m3u8

# -------------------------
# Node / Frontend
# -------------------------
node_modules/
npm-debug.log
yarn-error.log

# -------------------------
# Editor / IDE Files
# -------------------------
.vscode/
.idea/
*.iml

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Celery (if used)
# -------------------------
celerybeat-schedule
celerybeat.pid

# -------------------------
# Backup / Temp
# -------------------------
*.bak
*.swp
*.tmp
