* {
    font-family: sans-serif;
    font-size: 12px;
}

body {
    background: #262641;
    color: #e1dbef;
}

.btn-all-movies {
    background-color: #3f3e69;
}

header {
    height: 60px;
    margin-bottom: 10px;
    background: #403b4d;
}

.container h2 {
    size: 60px;
    text-decoration: solid;
}

.recomm-title {
    border-left: 10px solid #fe9a30;
    padding-left: 8px;
}

.col .movie-card {
    background: rgb(63, 62, 105);
    color: #e1dbef;
}

.movie-card:hover {
    background: rgba(63, 62, 105, 0.6);
}

.card-text,
strong {
    color: #e1dbef;
}




.modal-content {
    background-color: #575068;
}

.modal-content input {
    margin: 4px;
}