{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Success</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <div class="d-flex justify-content-center mt-4">
        <div class="col-md-6">

            <div class="container card">
                <h3 class="card-head text-center">Reset successful!</h3>
                <hr>
                <div class="card-title text-center">Your password has been reset successfully.</div>
                <p>
                    Go to <a href="{% url 'login' %}">Login</a>
                </p>
            </div>


        </div>
    </div>
</div>
{% endblock %}