{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Reset Password</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <div class="d-flex justify-content-center mt-4">
        <div class="col-md-6">

            <div class="container card">
                <h3 class="card-head text-center">Email Sent!</h3>
                <hr>
                <p class="card-title text-center">Password reset email sent. Please check your inbox.</p>
            </div>


        </div>
    </div>
</div>
{% endblock %}