{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Register</title>
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% endblock %}

{% block main_content %}
<div class="container-fluid">
    <div class="d-flex justify-content-center mt-4">
        <div class="col-md-10">
            <div class="container">
                <div class="login">

                    <form action="" method="post">
                        {% csrf_token %}

                        <h1>Register</h1>
                        <hr>
                        {{ form | crispy }}

                        <button type="submit" class="btn ">Register</button>
                    </form>

                    <p>
                        Already have an account?&nbsp;<a href="{% url 'login' %}">Log-in</a>
                        <br>
                        <a href="/">Go to Homepage</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}